@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Red+Hat+Mono:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
    /*'Red Hat Mono', monospace 'Quicksand', sans-serif*/
}
body {
    background-color: rgb(130, 130, 130);
}

.container {
    display: grid;
    min-height: 95vh;
    grid-template-rows: 20vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.container .img {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: -2.5vh;
    width: 100vw;
    height: 95vh;
}

.container .content {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 65vw;
    height: 40vh;
    color: rgb(201, 201, 201);
    text-align: center;
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(245, 245, 245, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.container .content > * {
    padding: 5px;
}

.container_contenth {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-content: flex-start;
    min-width: 80vw;
    min-height: 38vh;
}
.container_contenth > h1 {
    margin-top: 20px;
}
.container_contenth .container_habilidades {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px;
}
.container_contenth .container_habilidades > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
.container_contenth .container_habilidades > div:hover {
    transition: 0.5s;
    transform: scale(1.2);
}
.container_contenth .container_habilidades div img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.container_contenth .container_habilidades div h3 {
    margin: 5px;
    font: 500 12pt 'Quicksand', sans-serif;
}