@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Red+Hat+Mono:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
    /*'Red Hat Mono', monospace 'Quicksand', sans-serif*/
}
body {
}

.container {
    display: grid;
    min-height: 95vh;
    grid-template-rows: 20vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.container .img {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: -2.5vh;
    width: 100vw;
    height: 95vh;
}

.container .content {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 65vw;
    height: 40vh;
    color: rgb(201, 201, 201);
    text-align: center;
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.container .content > * {
    padding: 5px;
}

.container_content {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-content: space-around;
    min-width: 80vw;
    min-height: 50vh;
}
.container_content .container_habilidades {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}
.container_content .container_habilidades > div {
    width: 50px;
    height: 50px;
    margin: 5px;
}